<div id="bookmarks-container">
    {% for item in items %}
    <div class="summary-container">
        <h2>{{ item.title }}</h2>
        <p>{{ item.summary }}</p>
        <div>
            <a href="{{ item.link }}" class="read-more">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <button 
        hx-get="/bookmarks-page?offset={{ offset - limit }}&limit={{ limit }}" 
        hx-target="#content-wrapper" 
        hx-swap="innerHTML" 
        {% if offset == 0 %}disabled{% endif %}>
        Previous Page
    </button>
    <button 
        hx-get="/bookmarks-page?offset={{ offset + limit }}&limit={{ limit }}" 
        hx-target="#content-wrapper" 
        hx-swap="innerHTML" 
        {% if not has_next_page %}disabled{% endif %}>
        Next Page
    </button>
</div>