<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summaries</title>
    <script>
        document.body.addEventListener('htmx:log:all', function(evt) {
          console.log(evt.detail);
        });
        </script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/artifacts/summary-icon.jpg">
</head>
<body>
    <div class="header-container">
        <h1>Summaries</h1>
        <div class="button-container">
            <button class="bookmark-button" onclick="window.location.href='/bookmarks-page?offset=0&limit=3'">
                <img src="artifacts/bookmarks-icon.png" alt="Bookmarks" class="bookmark-icon-img">
            </button>
            <button class="bookmark-button" onclick="window.location.href='/bookmarks-page?offset=0&limit=3'">
                <img src="artifacts/refresh-icon.png" alt="Refresh" class="bookmark-icon-img">
            </button>
        </div>
    </div>
    <div hx-get="/items?offset=0&limit=5" 
         hx-trigger="load" 
         hx-swap="innerHTML"
         hx-target="#items-container">  
        <div id="items-container">
        Loading summaries...
        </div>
    </div>
</body>
</html>